$brand-green: rgba(222,241,244,0.8);
$brand-black: black;

.filter-container {
  color: $brand-black;
  background-color: $brand-green;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.filter__field {
  align-self: center;
}